@import url('https://fonts.googleapis.com/css2?family=Combo&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&display=swap');

:root {
  --main: #fcb721;
  --main_soft: #fdcf6d;
  --sub: #fd8628;
  --sub_soft: #ffb175;
  --social_main: #4fbcbd;
  --social_sub: #4ed4b0;
  --esn: #76c047;
  --cn: #1394d2;
  --pn: #9e3d97;
  --kn: #e72c6a;
  --se: #010101;
  --sa: #053043;
}

.App {
  text-align: center;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
