@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Combo&family=Heebo:wght@100;200;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#Frst__maincontainer {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  background: rgba(245, 245, 220, 0.3);
  padding: 100px 0px 50px 0px;
}
#main {
  width: 1100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: rgba(10, 10, 11, 0.1) 1px solid;
  background: white
}

.sectionwrapper {
  background: white;
  padding: 0px 10px;
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orangetext {
  color: #fd8628;
  font-weight: 600;
}
.darker {
  color: orangered;
}
.sectionleft {
  color: black;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  width: 300px;
  height: 430px;
  padding: 10px;
}
.sectionmid {
  background: #fd8628;
  width: 2px;
  height: 430px;
}
.sectionright {
  background-image: linear-gradient(90deg, #ffb175, #fd8628);
  width: 400px;
  height: 450px;
  font-size: 14px;
  font-weight: 600;

  line-height: 22px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.sectionrighttop {
  width: 350px;
  text-align: left;
  margin-bottom: 20px;
}

.klaar {
  background: rgba(10, 10, 11, 0.8);
  border-radius: 4px;
  height: 30px;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  transition: all 0.5s;
}
.klaar:hover {
  background: rgba(10, 10, 11, 01);
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 1) 0px 2px 29px 0px;
}
.orangeinputs {
  width: 99%;
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border: none;
  background: #fdcf6d;
  transition: all 0.5s;
}
.orangeinputs:hover {
  box-shadow: rgba(255, 255, 255, 1) 0px 2px 29px 0px;
}
.otpwrapper {
  text-align: right;
}
.subklaar {
  width: 100%;
  font-size: 10px;
}
#goright {
  float: right;
}
.orangelabel {
  text-align: left;
  width: 100%;
  font-size: 12px;
  margin: 10px 0 0 0;
}
.suborangelabel {
  display: flex;
  justify-content: space-between;
}
.eyeswrapper {
  width: 60px;
  float: right;
}
.eyes {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1200px) {
  .sectionrighttop {
    width: 400px;
    height: 1025px;
  }
  #main {
    flex-direction: column;
    width: 450px;
    height: auto;
    margin-top: 100px;
  }
  .sectionmid {
    display: none;
  }
  .sectionwrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sectionleft {
    height: 1230px;
    width: 350px;
    margin-top: 30px;
  }
  .sectionright {
    margin-top: 550px;
  }
  #tweedecolom {
    border-top: 2px #fd8628 solid;
  }
  .BC__framewrapper {
    margin-top: 40px;
  }
  .Bcr__container {
    margin-top: 195px !important;
  }
  .Bcb__container {
    margin: 45px 0px 0px 30px !important;
  }
}

/* BCard */
.BC__robot {
  width: 190px;
  position: absolute;
  top: -20px;
  left: 125px;
}
.BC__frame {
  width: 160px;
  height: 270px;
  border-bottom: 10px solid rgba(10, 10, 11, 0.1);
  border-bottom: 5px solid #fd8628;
  box-shadow: rgba(100, 100, 111, 0.2) 1px 1px 2px 1px;

  border-radius: 10px;
}
.BC__framewrapper {
  position: relative;
}
.BC__logo {
  width: 70px;
  position: absolute;
  top: 0px;
  left: 45px;
}
.BC__textcontainer {
  width: 70px;
  position: absolute;
  top: 100px;
  left: 15px;
  color: gray;
  font-stretch: 500%;
  font-weight: 500;
  font-size: 8px;
  width: 120px;
  padding-top: 20px;
  color: rgba(10, 10, 11, 0.4);
}
.BC__textwrapper {
  display: flex;
  width: 180px;
  font-weight: 300;
}
.BC__linewrapper {
  margin: 0px 0px 2px -15px;
  width: 160px;
  border-top: 2px solid rgba(220, 220, 220, 0.4);
}
.BC__textwrapper > div > span {
  margin: 5px;
  position: relative;
}
.BC__textwrapper > div > span > img {
  position: absolute;
  bottom: -4px;
  left: 61px;
}

.BC__brandwrapper {
  margin-bottom: 5px;
}
#BC__adres {
  line-height: 15px;
  margin-top: 5px;
}
#world {
  margin-left: -10px;
}
.BC__locicon {
  width: 15px;
  margin-right: 5px;
}

/* Bcr */
#tweedecolom {
  display: flex;
}
.Bcr__container {
  display: flex;
  flex-direction: column;
  margin: 154px 0px 0px 10px;
  height: 120px;
}
.Bcr__wrapper {
  display: flex;
  font-size: 8px;
  width: 135px;
  height: 20px;
  margin: 0px 0px 10px 0px;
}
.Bcr__wrapperStart > img {
  margin: 0px;
}
.Bcr__wrapperMiddle > img {
  margin: 5px 0px -5px 0px;
}
.Bcr__wrapperEnd > img {
  margin: -3px 0px 3px 0px;
}
.Bcr__wrapper > div > div {
  margin: -10px 0px 0px 0px;
}
.Bcr__wrapper > div {
  margin: 3px 0px 0px 0px;
}

.Bcr__wrapperMiddle {
  margin: -8px 0px 20px 0px;
}

/* Bcb */
#tweedecolom {
  height: 280px;
}
.Bcb__container {
  color: black;
  font-size: 8px;
  line-height: 14px;
  margin: 0px 0px 0px 10px;
  width: 300px;
  text-align: left;
}
#Bcb__cornerID {
  margin: 0px 010px 0px 10px;
}
.Bcb__cornerwrapper {
  margin: -10px 010px 0px 10px;
  width: 30px;
}
.Bcb__wrapper {
  display: flex;
}
.Bcb__leftmargin {
  margin: 0px 0px 0px 3px;
}
.Bcb__lesstop {
  margin: 8px 0px 8px 0px;
}
.Bcb__greenbtn {
  background: green;
  color: white;
  border-radius: 4px;
  border: black solid 1px;
  height: 25px;
  width: 40%;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.Bcb__greenbtn:hover {
  background: darkgreen;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 1) 0px 2px 29px 0px;
}

.Bcb__infoicon {
  width: 6px;
  margin: -10px 10px 1000px 0px;
}
/* .orangetext */
/* .BC__locicon */
/* darker */
/* Trd__maincontainer */

/* third */
.Trd__maincontainer {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: rgba(245, 245, 220, 0.3);
}
#Trd__main {
  margin-top: 100px;
  background: white;
  width: 1100px;
  height: auto;
  padding-bottom: 40px;
  margin: 100px 200px 100px 50px;
  padding: 00px 0px 30px 0px;
  border: rgba(10, 10, 11, 0.1) 1px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.erpeContainer {
  background: white;
}
.Trd__erpelogo {
  width: 20vw;

  border-bottom: orange 1px solid;
}
.navbar {
  font-family: 'ShadowsIntoLight';
  padding: 0vw 3vw;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 22px;
  background-image: linear-gradient(-135deg, #fdcf6d, #fd8628);
  font-weight: 700;
  border-bottom: grey 1px solid;
}
#active {
  color: black;
}
.Trd__topText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: -20px 25px 25px 25px;
}
.Trd__bottomTextContainer {
  display: flex;
  width: 975px;
  margin: 35px 0px 0px 55px;
}
.Trd__bottomTextWrapper {
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 490px;
  color: black;
  font-size: 12px;
  text-align: left;
}
.Trd__bottomTextWrapper > div > div {
  font-size: 8px;
}

.Trd__title {
  color: orange;
  font-size: 22px;
  font-family: 'Heebo';
  margin-top: 20px;
}
.Trd__subtitle {
  color: orange;
  font-size: 22px;
  font-family: 'Heebo';
}
.Trd__SideSubtitle {
  color: black;
  font-size: 22px;
  font-family: 'ShadowsIntoLight';
}

.Trd__titleNr {
  font-family: 'ShadowsIntoLight';
  font-size: 42px;
  font-weight: 600;
  margin-right: 20px;
}

.Trd__body {
  color: black;
  width: 950px;
  text-align: left;
  margin: -5px 0px 0px 45px;
  font-size: 22px;
  font-family: 'Heebo';
  font-size: 12px;
}

.Trd__linewrapper {
  margin: 0px 0px 0px 0px;
  width: 100%;
  border-top: 2px solid rgba(220, 220, 220, 0.4);
}
.Trd__btnWrapper {
  width: 300px;
}
.Trd__sectionmid {
  background: #fd8628;
  width: 2px;
  padding: 1px;
  height: 330px;
}
.Trd__checkwrapper {
  display: grid;
  grid-template-columns: 20px auto;
  margin: 2px 0px 10px -2px;
  width: 450px;
  /* background-color: gold; */
}
.Trd__inputLabel {
  grid-column: 1 /1;
  grid-row: 1 /2;
  margin-bottom: 3px;
}
.Trd__smallText {
  font-size: 8px;
  grid-column: 2 /3;
  grid-row: 2 /3;
}
.Trd__aboveSmallText {
  font-size: 12px !important;
  line-height: 16px;
  grid-column: 2 /3;
  grid-row: 1 /2;
  padding-top: 2px;
}
.Trd__aboveNoSmallText {
  font-size: 12px;
  width: 430px;
  grid-column: 2 /3;
  grid-row: 1 /3;
  padding-top: 2px;
}
.Trd__check {
  width: 10px;
}

#Trd__kiezen {
  margin-top: 10px;
  font-size: 12px;
  width: 450px;
  padding: 2px 2px 2px 15px;
}
.Trd__infoicon {
  width: 6px;
  margin: 10px 5px 0px 0px;
}
.Trd__verder {
  font-family: 'ShadowsIntoLight';
  font-size: 15px;
  width: 500px;
}
.Trd__orangebtn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
/* darker */
/* orangetext */
/* Shufflebtn */

.btncontainer {
  display: flex;
  border: darkgray 1px solid;
  height: 40px;
  width: 175px;
  border-radius: 3px;
}
.greenbtn {
  background: green;
}
.redbtn {
  background: red;
}
.whitebtn {
  background: white;
}
.btnsection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ShadowsIntoLight';
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 6px 3px;
  color: white;
  font-size: 22px;
  width: 50%;
  text-align: center;
  border: darkgray 0.5px solid;
}
.Trd__btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 460px;
  margin-bottom: 20px;
}
.Trd__LastAboveSmallText {
  margin-top: 20px;
  width: 440px;
}

@media only screen and (max-width: 1200px) {
  #Trd__main {
    flex-direction: column;
    width: 450px;
    height: 1025px;
    margin-top: 100px;
  }
  .Trd__sectionmid {
    height: 1px;
    width: 420px;
    margin: 15px 0px 25px 0px;
  }
  .Trd__body {
    width: 380px;
  }

  .Trd__bottomTextContainer {
    width: 475px;
    margin: 35px 0px 0px 15px;
  }

  .Trd__bottomTextWrapper {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 425px;
    height: 365px;
  }
  .Trd__btnContainer {
    width: 430px;
  }
  .Trd__verderMedia {
    margin-left: -20px;
  }
  #Trd__kiezen {
    margin-top: 10px;
    font-size: 12px;
    width: 420px;
    padding: 2px 2px 2px 15px;
  }
  .Trd__bottomTextContainer {
    flex-direction: column;
    width: 420px;
  }
  .Trd__orangebtn {
    width: 95%;
  }
}
